.contenedor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "titulo titulo"
        "tituloR tituloR"
        "restaurante restaurante"
        "tituloC tituloC"
        "confiterias confiterias";


}
.titulo{
    grid-area: titulo;
    background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
    font-family: 'Zeyada', cursive;
    font-size: 70px;
    padding: 10px;
    text-align: right;
    line-height:120%;
    text-shadow: 4px 4px 5px #0005;
    margin: 5px;
    display: grid;
    grid-template-columns: 30% 70%;
   
}
.restaurante {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: restaurante;
    font-family: 'Cabin', sans-serif;
    font-size:large;
    background-color: #3D5656;
    padding: 10px;
    margin-top: 5px;
}
.confiterias{
    display: grid;
    grid-template-columns: auto auto;
    grid-area: confiterias;
    font-family: 'Cabin', sans-serif;
    font-size:large;
    background-color: #3D5656;
    padding: 10px;
    margin-top: 5px;
}

.lugares{
   
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #68B984;
    padding: 10px;
    margin:5px;
    border-radius: 0%;
}
.tituloR {
   
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #CFFDE1;
    grid-area: tituloR;
    padding: 10px;
    margin:5px;
    border-radius: 0%;
}
.tituloC {
   
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #CFFDE1;
    grid-area: tituloC;
    padding: 10px;
    margin:5px;
    border-radius: 0%;
}
.img-dondec{
    float:left; 
    padding: 10px; 
    border-radius: 7%;

}  
@media screen and (max-width: 768px){
	.contenedor {
        grid-template-columns: auto;
		grid-template-areas:
        "titulo"
        "tituloR"
        "restaurante"
        "tituloC"
        "confiterias";
	}
    .restaurante {
        display: grid;
        grid-template-columns: auto;
        grid-area: restaurante;
        font-family: 'Cabin', sans-serif;
        font-size:large;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }
    .confiterias{
        display: grid;
        grid-template-columns: auto;
        grid-area: confiterias;
        font-family: 'Cabin', sans-serif;
        font-size:large;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }
    
    .img-dondec{
        float:auto; 
        padding: 10px; 
        border-radius: 7%;
    }
    .tituloR {
   
        font-family: 'Cabin', sans-serif;
        text-align:justify;
        background-color: #ffffff;
        grid-area: tituloR;
        padding: 10px;
        margin:5px;
        border-radius: 0%;
    }
    .tituloC {
       
        font-family: 'Cabin', sans-serif;
        text-align:justify;
        background-color: #ffffff;
        grid-area: tituloC;
        padding: 10px;
        margin:5px;
        border-radius: 0%;
    }
}

