.contenedor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "titulo titulo"
        "nav nav"
        "tituloR tituloR"
        "restaurante restaurante"
        "tituloC tituloC"
        "confiterias confiterias"
        "tituloH tituloH"
        "heladerias heladerias";
}
.titulo{
    display:grid;
    grid-template-columns: 30% auto;
    grid-area: titulo;
    background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
    font-family: 'Zeyada', cursive;
    font-size: 70px;
    
    padding: 10px;
    margin: 5px;
    text-align: right;
    line-height: 120%;
    text-shadow: 4px 4px 5px #0005;
 
}
.nav {
    
    align-items:center;
    grid-area: nav;
    list-style: none;
    background-color: #CFFDE1;
    margin-top: 5px;

}

.text {
    opacity: 0;

}
.nav-list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 5px;
}
.nav-it {
    text-decoration: none;
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav-it:hover .text {
    opacity: 1;
}
.abrir-menu{
    background-color:#CFFDE1;
    border: 0;
    display: none;

}
.cerrar-menu{
    background-color: #CFFDE1;
    border: 0;
    display: none;
    
}
.lugares{
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    font-size:large;
    background-color: #68B984;
    padding: 10px;
    margin:5px;
   
}
.tituloR {
   
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #CFFDE1;
    grid-area: tituloR;
    padding: 10px;
    margin:5px;
   
}
.restaurante {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: restaurante; 
    background-color: #3D5656;
    padding: 10px;
    margin-top: 5px;
   
}
.tituloC {
   
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #CFFDE1;
    grid-area: tituloC;
    padding: 10px;
    margin:5px;
    
}
.confiterias{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: confiterias;
    background-color: #3D5656;
    padding: 10px;
    margin-top: 5px;
  
}
.tituloH {
   
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #CFFDE1;
    grid-area: tituloH;
    padding: 10px;
    margin:5px;
  
}
.heladerias{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: heladerias;
    background-color: #3D5656;
    padding: 10px;
    margin-top: 5px;
   
}
.img-dondec{
    float:left; 
    padding: 10px; 
    border-radius: 7%;

}  

@media screen and (max-width: 900px){
	.contenedor {
        grid-template-columns: auto;
		grid-template-areas:
        "titulo"
        "nav"
        "tituloR"
        "restaurante"
        "tituloC"
        "confiterias"
        "tituloH"
        "heladerias";
	}
    .titulo{
        display: grid;
        grid-area: titulo;
        background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align: right;
        line-height: 120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
        grid-template-columns: 30% 70%;
       
    }
    .abrir-menu{
        display: block;
        right: 0;
        align-items: end;
    }
    .cerrar-menu.visible{
        display: block;
    }
    .abrir-menu.invisible{
        display: none;
    }
    
    .nav{
        
        display: flex;
        flex-direction: column;
        align-items: end;       
    }
    .nav-list{
        display: none;
    }
    .nav-list.visible{
        display: block;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
    }
    .lugares{
        font-family: 'Cabin', sans-serif;
        text-align: justify;
        font-size:large;
        background-color: #68B984;
        padding: 10px;
        margin:5px;
       
    }
    .tituloR {
       
        font-family: 'Cabin', sans-serif;
        text-align:justify;
        background-color: #CFFDE1;
        grid-area: tituloR;
        padding: 10px;
        margin:5px;
       
    }
    .restaurante {
        display: grid;
        grid-template-columns: auto;
        grid-area: restaurante; 
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }
    .tituloC {
       
        font-family: 'Cabin', sans-serif;
        text-align:justify;
        background-color: #CFFDE1;
        grid-area: tituloC;
        padding: 10px;
        margin:5px;
        
    }
    .confiterias{
        display: grid;
        grid-template-columns: auto;
        grid-area: confiterias;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
      
    }
    .tituloH {
       
        font-family: 'Cabin', sans-serif;
        text-align:justify;
        background-color: #CFFDE1;
        grid-area: tituloH;
        padding: 10px;
        margin:5px;
      
    }
    .heladerias{
        display: grid;
        grid-template-columns: auto;
        grid-area: heladerias;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
       
    }
    .img-dondec{
        float:auto; 
        padding: 10px; 
        border-radius: 7%;
    }
}

