body {
    background-image: url(/images/tigre-buenos-aires.jpg);
    background-size:cover;
    

    .header {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-area: header;
        background-color: #FED049;
        background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    
    }
    
    .header-title {
        font-family: 'Zeyada', cursive;
        font-size: 130px;
        text-align: center;
    }

}
    
    #wrap { margin:0 auto 0 auto;
            width:500px;
            height: 1000px;
             text-align:center;  

    }
    #form {
        width: 500px;
            border: 1px solid #f4fFfF;
            padding: 15px 15px 65px 15px;
            background-color: #CFFDE1;
            text-align: center;
    }
    #form * {
        font-family: 'Cabin', sans-serif;
        display: block;
        box-sizing: border-box;
    
    }
    #form label {
        color: #333;
        cursor: default;
        margin: 15px 0 3px 0;
    }
    #form input[type="text"], #form input[type="email"], #form textarea {
        padding: 8px;
        border: 1px solid #CCC;
        color: #555;
        font-size: 1em;
        width: 100%;
        overflow: hidden;
        resize: none;
        border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -moz-border-radius: 3px;
    }
    #form input[type="text"]:focus, #form input[type="email"]:focus, #form textarea:focus {
        outline: none;
        box-shadow: 0px 0px 6px #545a5f;
        -o-box-shadow: 0px 0px 6px #545a5f;
        -ms-box-shadow: 0px 0px 6px #545a5f;
        -moz-box-shadow: 0px 0px 6px #545a5f;
    }
     #form label[for="descripcion"] {
        display: inline-block;
        text-align: left;

    }
   
    #form #enviar {
        background-color: #68B984;
        border: 1px solid #3f5446;
        cursor: pointer;
        float:right;
        color: #ffffff;
        font-size: 1em;
        margin: 10px 0 10px 15px;
        padding: 3px 9px;
        border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;

    }

    #form #enviar:hover {
        background-color: #3D5656;
   
    }

    .input-control.success input{
        border-color: #09c372;
    }

    .input-control.error input{
        border-color: #ff3860;
    }

    .input-control .error{
        color: #ff3860;
        font-size: 9px;
        height: 13px;
    }