a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 4px 4px 5px #0005;
}
.contenedor {
    display: grid;
    grid-template: auto auto auto auto/ 35% 30% 35%;
    grid-template-areas:
        "header header header"
        "article1 article1 article3"
        "article4 article2 article2"
        "footer footer footer"
        
        
}
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 70%;
    background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
    font-family: 'Zeyada', cursive;
    font-size: 100px;
    padding: 10px;
    text-align: right;
    line-height:120%;
    text-shadow: 4px 4px 5px #fff;
    margin: 5px;
}
.article1{
    grid-area: article1;    
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #68B984;
    padding: 10px;
    margin:5px;
    border-radius: 0%;
    
}
.article2{
    grid-area: article2;
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #68B984;
    padding: 10px;
    margin:5px ;
}
.article3{
    grid-area: article3;
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #68B984;
    padding: 10px;
    margin:5px ;
}
.article4{
    grid-area: article4;
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #68B984;
    padding: 10px;
    margin:5px;
    border-radius: 0%;
}
.img-article {
    width: 32%;
    float: left; 
    padding: 10px; 
    border-radius: 7%;
}
.img-side {
    width: 60%;
    float: left; 
    padding: 10px; 
    border-radius: 7%;
}
.footer{
    grid-area: footer;
    background: #CFFDE1;
    padding: 10px;
    margin:5px;
    font-family: 'Cabin', sans-serif;
    text-align: right;
}

/*de aqui en adelante codigo para hacer la pagina responsiva*/
@media screen and (max-width: 992px){
	.contenedor {
		grid-template: auto auto auto auto auto/ auto;
        grid-template-areas: 
        "header"
        "article1"
        "article2"
        "article3"
        "article4"
        "footer"
    }

    .header-logo {
    display: none;
    }
    h2{
        text-align: center;
    }
    .img-article {
        width: 60%;         
        border-radius: 7%;
        margin: 2%;
    }
    .img-side {
        width: 60%;         
        border-radius: 7%;
        margin: 2%;
    }
}
@media screen and (max-width: 768px){
	
    .img-article {
        width: 100%;         
        border-radius: 7%;
        padding:0;
        margin-left: auto;
        margin-right: auto;
    }
    .img-side {
        width: 100%;         
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    }
}

@media screen and (max-width: 600px){
    .header{
        grid-area: header;
        background: #FED049;
        
        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align:center ;
        line-height:120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
    }
    .img-article {
        width: 50%;         
        border-radius: 100%;
        margin: 5%;
        float: right;
    }
    .img-side {
        width: 50%;         
        border-radius: 100%;
        margin: 5%;
        float:right;
    }
}
