.contenedor {
    display: grid;
    grid-template: auto auto / auto ;
    grid-template-areas:
        "title"
        "article"
}
.title{
    grid-area: title;
    background-color: #FED049;
    background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
    font-family: 'Zeyada', cursive;
    font-size: 70px;
    padding: 10px;
    text-align: right;
    line-height:120%;
    text-shadow: 4px 4px 5px #0005;
}
.article{
    grid-area: article;
    font-family: 'Cabin', sans-serif;
    text-align:justify;
    background-color: #68B984;
    padding: 10px;
    margin-top:5px ;
}