a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 4px 4px 5px #0005;
}

button {
    border: none;
    background-color: #CFFDE1;
}

/**a:hover {
    background: #68B984;


}
**/
.contenedor {
    display: grid;
    grid-template: auto auto auto auto auto / auto auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "article article"
        "section section"
        "footer footer";


}

.header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-area: header;
    background-color: #FED049;
    background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);

}

.header-title {
    font-family: 'Zeyada', cursive;
    font-size: 130px;
    text-align: center;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: nav;
    background-color: #CFFDE1;
    margin-top: 5px;

}

.text {
    opacity: 0;

}

.nav-it {
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav:hover .text {
    opacity: 1;
}


.article {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: article;
    background-color: #3D5656;
    padding: 10px;
    margin-top: 5px;
}

.nota {
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    background-color: #68B984;
    padding: 10px;
    margin: 10px;
    border-radius: 1%;
}

.img-nota-left {
    float: left;
    padding: 10px;
    border-radius: 7%;


}

.img-nota-right {
    float: right;
    padding: 10px;
    border-radius: 7%;

}

.section {
    grid-area: section;
    background-color: #CFFDE1;
    padding: 15px;
    margin-top: 5px;


}

.form {}

.footer {
    grid-area: footer;
    background-color: #FED049;
    margin-top: 5px;
}

/*de aqui en adelante codigo para hacer la pagina responsiva*/
@media screen and (max-width:720px) {
    .header {
        display: grid;
        grid-template-columns: 0% 100%;
        grid-area: header;
        background-color: #FED049;
        background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    
    }

    .header-logo {
        display: none;
    }
    

    .article {
        display: grid;
        grid-template-columns: auto;
        grid-area: article;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }
}

@media screen and (max-width:480px) {
    .header {
        display: grid;
        grid-template-columns: 0% 100%;
        grid-area: header;
        background-color: #FED049;
        background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    
    }

    .header-logo {
        display: none;
    }
    .nav {
        display: grid;
        grid-template: auto auto auto auto / auto auto;
        grid-area: nav;
        background-color: #CFFDE1;
        margin-top: 5px;
    
    }

    .article {
        display: grid;
        grid-template-columns: auto;
        grid-area: article;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }
}