a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 4px 4px 5px #0005;
}

button {
    border: none;
    background-color: #CFFDE1;
}

/**a:hover {
    background: #68B984;


}
**/
.contenedor {
    display: grid;
    grid-template: auto auto auto auto auto auto / auto auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "slider slider"
        "article article"
        "section section"
        "footer footer";


}

.header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-area: header;
    background-color: #E9EDC9;
    background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);

}

.header-title {
    font-family: 'Zeyada', cursive;
    font-size: 130px;
    text-align: center;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: nav;
    background-color: #F4B183;
    margin-top: 5px;

}

.text {
    opacity: 0;

}

.nav-it {
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav:hover .text {
    opacity: 1;
}
.slider-marco{
    background-color: #DFA67B;
    padding:0;
    margin-top: 5px;
    grid-area: slider;
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
.slider-marco ul {
    display: flex;
    width: 300%;
    padding: 0px;
    animation: slide 15s infinite;
}
.slider-marco li{
    list-style: none;
}
.img{
    width: 100%;
}

.article {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: article;
    background-color: #DFA67B;
    padding: 10px;
    margin-top: 5px;
}

.nota {
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    background-color: #68B984;
    padding: 10px;
    margin: 10px;
    border-radius: 1%;
}

.img-nota-left {
    float: left;
    padding: 10px;
    border-radius: 7%;


}

.img-nota-right {
    float: right;
    padding: 10px;
    border-radius: 7%;

}

.section {
    grid-area: section;
    background-color: #CFFDE1;
    padding: 15px;
    margin-top: 5px;


}

.form {}

.footer {
    grid-area: footer;
    background-color: #FED049;
    margin-top: 5px;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
   
}