

.contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "titulo"
        "nav"
        "select"
        "mapa";
}

body {
    position: relative;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-area: nav;
    background-color: #CFFDE1;
    margin-top: 60px;

}

.text {
    opacity: 0;

}

.nav-it {
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav:hover .text {
    opacity: 1;

}

#map{
    grid-area: mapa;
    height: 75vh;
    width: 100%;
    z-index: 20;
    grid-template-columns: 100%;
}

#select-location {
    grid-area: mapa;
    left: 55px;
    top: 190px;
    position:absolute;
    z-index: 100;
    padding: 8px;
}

.resto{
    background-color:#fdb98c ;
}
.confiteria{
    background-color:#eef77c ;    
}
.heladeria{
    background-color:#82e2f3 ;
}
.queHacer{
    background-color:#fd5858 ;
}
.alojamientos{
    background-color:#53a75e ;
}
.titulo{
    grid-area: titulo;
    background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
    font-family: 'Zeyada', cursive;
    font-size: 70px;
    padding: 10px;
    text-align: right;
    line-height:120%;
    text-shadow: 4px 4px 5px #0005;
    margin: 5px;
    display: grid;
    grid-template-columns: 30% 70%;
   
}